{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %} {% block body %} {% include 'components/navber.html' %}
<!-- seach job and region job -->
<section class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="mx-auto mt-5 px-5 bg-green-80 rounded-3">
        <div class="d-flex justify-content-around text-center pt-3">
          <div>
            <img
              src="{% static 'images/index/bus (1).png' %}"
              class="rounded-circle"
              style="width: 53px; height: 52px"
            />
            <p class="font-14">รถเมล์</p>
          </div>
          <div>
            <img
              src="{% static 'images/index/train-station.png' %}"
              class="rounded-circle"
              style="width: 53px; height: 52px"
            />
            <p class="font-14">รถไฟฟ้า</p>
          </div>
          <div>
            <img
              src="{% static 'images/index/factory.png' %}"
              class="rounded-circle"
              style="width: 53px; height: 52px"
            />
            <p class="font-14">นิคมอุตสาหกรรม</p>
          </div>
        </div>
        <form action="" method="get" class="pb-3">
          <div class="mb-3">
            <label for="" class="form-label font-24">สถานที่ปฏิบัติงาน</label>
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              placeholder=""
              aria-describedby="helpId"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label font-24">อำเภอ</label>
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              placeholder=""
              aria-describedby="helpId"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label font-24">ตำบล</label>
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              placeholder=""
              aria-describedby="helpId"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label font-24">ประเภทงาน</label>
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              placeholder=""
              aria-describedby="helpId"
            />
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label font-24" for="flexCheckDefault">
              ทำงานที่บ้าน (Work from Home)
            </label>
          </div>
          <div class="mb-3">
            <label for="" class="form-label font-24">คำที่ต้องการค้นหา</label>
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              placeholder=""
              aria-describedby="helpId"
            />
          </div>
          <div class="text-center">
            <a
              href="job-region.html"
              type="submit"
              class="btn btn-lg bg-purple-10 w-50 text-white font-24"
            >
              ค้นหา
            </a>
          </div>
        </form>
      </div>
    </div>
    <!-- end row -->

    <div class="col-8">
      <h2 class="font-32 mt-5">พบ {{datas.count}} งาน</h2>
      <p class="font-24">ผลการค้นหางาน {{datas.0.id_type}} ประเภทงานทั้งหมด</p>
      <hr />

      <div class="d-inline flex-wrap">
        {% for data in datas %}
        <ul>
          <a href="{% url 'job' data.id %}" class="underline">
            <div class="row mx-auto">
              <div class="d-flex justify-content-between">
                <h6>{{forloop.counter}}</h6>
                <h6>{{data.date_post}}</h6>
              </div>
              <h3>{{data.name_job}}</h3>

              <div class="col-6">
                <p class="text-start">
                  <img
                    src="{% static 'icon/job/placeholder.png' %}"
                    width="32px"
                    alt=""
                  />
                  {{data.location}}
                </p>
              </div>
              <div class="col-6">
                <p class="">
                  <img
                    src="{% static 'icon/job/money.png' %}"
                    width="32px"
                    alt=""
                  />
                  {{data.salary}}
                </p>
              </div>
              <hr />
            </div>
          </a>
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!--end seach job and region job -->
<!-- list of contents -->
<section class="container-fluid bg-green-80 mt-3">
  <div class="row">
    <div class="col-4 my-3">
      <h2 class="font-24">งานแยกตามประเภทงาน</h2>

      <p>
        <a href="pages/job-region.html " class="underline font-18">งาน ขาย</a>
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน ช่างเทคนิค/อิเลคโทรนิค/ซ่อมบำรุง/ช่างพิมพ์</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน งานบริการลูกค้า - Call Center</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน บุคคล/ฝึกอบรม</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน การตลาด</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน ผลิต/ควบคุมคุณภาพ/โรงงาน</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน โยธา/สำรวจ/สถาปัตย์/มัณฑนากร/ประเมินราคา</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน โยธา/สำรวจ/สถาปัตย์/มัณฑนากร/ประเมินราคา</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18">งาน วิศวกร</a>
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน Part-time/พนักงานชั่วคราว</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน Freelance</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน อาหาร/เครื่องดื่ม/กุ๊ก/บาร์เทนเดอร์/พนักงานเสิร์ฟ</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >Job Index Company Index</a
        >
      </p>
    </div>
    <div class="col-4 my-3">
      <h2 class="font-24">งานแยกตามสถานที่ปฏิบัติงาน</h2>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน ใกล้รถไฟฟ้า BTS</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน ใกล้รถไฟฟ้า MRT</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน ใกล้สายรถเมล์</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน กรุงเทพมหานคร</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน เชียงใหม่</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน ฉะเชิงเทรา</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18">งาน ชลบุรี</a>
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน นนทบุรี</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน ปทุมธานี</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน พระนครศรีอยุธยา</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18">งาน ระยอง</a>
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน สมุทรปราการ</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน สมุทรสาคร</a
        >
      </p>
    </div>
    <div class="col-4 my-3">
      <h2 class="font-24">สำหรับผู้สมัครงาน</h2>
      <p>
        <a href="pages/job-region.html" class="underline font-18">หางาน</a>
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน ทั้งหมด</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน ต่างประเทศ</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน นิคมอุดสาหกรรม</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >งาน ทุพพลภาพ</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >สำหรับบริษัท</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18"
          >ลงประกาศรับสมัครงาน (สมัครสมาชิก)</a
        >
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18">อัตราโฆษณา</a>
      </p>
      <p>
        <a href="pages/job-region.html" class="underline font-18">ค้นประวัติ</a>
      </p>
    </div>
  </div>
</section>
<!-- end list of contents -->
{% include 'components/footer.html' %} {% endblock %}
