{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock  %}
{% block body %}
    {% include 'components/navber.html' %}
    <!-- descripstion -->
    <section class="container-fluid">
        <div class="row">
          <div class="col-12 w-75 mx-auto justify-content-start flex-row d-flex">
            <img
              class="border border-dark zoom-img"
              src="{% static 'images/company/logo-pompany/furniture.png' %}"
              width="250px"
              alt=""
            />
            <div class="align-self-center px-3">
              <h1 class="font-32">บริษัท เฟอร์นิเจอร์ จำกัด มหารถชน</h1>
              <a href="company.html" class="underline color-font-purple font-24 "
                >ดูรายละเอียดบริษัท</a
              >
            </div>
          </div>
        </div>
        <!-- detial -->
        <div class="row">
          <div
            class="col-12 w-75 mx-auto justify-content-start flex-row my-3 bg-pink-20 p-4"
          >
            <div class="col-12">
              <h1 class="font-24">{{job.name_job}}</h1>
            </div>
            <div class="d-flex">
              <div class="col-4">
                <ul class="list-type-none font-24">
                  <li>
                    <img
                      src="{% static 'icon/job/placeholder.png' %}"
                      width="23px"
                      alt=""
                    />
                    สถานที่ปฏิบัติงาน
                  </li>
                  <li>
                    <img src="{% static 'icon/job/money.png' %}" width="23px" alt="" />
                    เงินเดือน
                  </li>
                  <li>
                    <img src="{% static 'icon/job/man.png' %}" width="23px" alt="" />
                    อัตรา
                  </li>
                  <li>
                    <img
                      src="{% static 'icon/job/job-interview.png' %}"
                      width="23px"
                      alt=""
                    />
                    สัมภารณ์
                  </li>
                </ul>
              </div>
              <div class="col-4">
                <ul class="list-type-none font-24">
                  <li>{{job.location}}</li>
                  <li>โดยรวม 30,000 บาท</li>
                  <li>{{job.job_title}}</li>
                  <li>ทางออนไลน์</li>
                </ul>
              </div>
              <div class="col-4 align-self-end">
                <a
                  name=""
                  id=""
                  class="btn bg-purple-10 text-white w-100 btn-lg"
                  href="#T"
                  
                  role="button"
                  >สมัครงาน</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="w-75 mx-auto d-flex justify-content-end font-24">
            <div class="mx-3">
              <a href="#" ><img src="{% static 'icon/job/heart.png' %}" width="32px" alt=""></a>
              สนใจ
            </div>
            <div class="mx-3">
              <a href="#"
                ><img src="{% static 'icon/job/next.png' %}" width="23px" alt=""
              /></a>
              แชร์
            </div>
            <div class="mx-3">
              <a href="#">
                <img src="{% static 'icon/job/printer.png' %}" width="23px" alt=""
              /></a>
              พิมพ์
            </div>
          </div>
        </div>
      </section>
      <!-- end descripstion -->
  
      <!-- job discritiob -->
      <section class="container-fluid w-75 mx-auto my-5 ">
        <h1 class="font-24 fw-bold">คุณสมบัติผู้สมัคร</h1>
        <ul class="list-group-numbered font-24">
          <li>การศึกษาขั้นต่ำ: ปริญญาตรี ความรู้ด้านอาชีพ มีประสบการณ์ที่เกี่ยวกับการบริหารจัดการในด้านเทคนิคการผลิตยาง5ปีขึ้นไป </li>
          <li>มีความรู้และคุ้นเคยเกี่ยวกับการผลิตยาง เครื่องอบยางและเทคนิคการอบยางและมีความสามารถในการแก้ไขยางเสียด้านคุณภาพได้ ทักษะการทำงาน มีความเชี่ยวชาญในการใช้ซอฟต์แวร์สำนักงาน เชี่ยวชาญเทคโนโลยีการออกแบบวาดภาพ</li>
          <li>ทักษะการทำงาน มีความเชี่ยวชาญในการใช้ซอฟต์แวร์สำนักงาน เชี่ยวชาญเทคโนโลยีการออกแบบวาดภาพ</li>
          <li>จัดทำมาตรฐานการอบยาง เวลาการอบยาง พร้อมแก้ไขข้อบอกพร่องในกระบวนการการอบยาง</li>
          <li>ให้ความร่วมเมือในการทำงานเป็นทีม อื่นๆ มีประสบการณ์หรือความสามารถอื่นที่สามารถนำมาประกอบกับการทำงานได</li>
        </ul>
      </section>
      <!-- end job discritiob -->
  
      <!-- applicant qualifications -->
      <section class="container-fluid w-75 mx-auto my-5">
        <h1 class="font-24 fw-bold">รายละเอียดงาน</h1>
        <ul class="list-group-numbered font-24">

          <li>
              {{job.detial}}
          </li>
          <li>จัดทำหรือแก้ไขมาตรฐานการอบยางโดยอ้างอิงตามใบสเปคงานที่มาจาก R&D เครื่องจักรอุปกรณ์และผลิตภันฑ์งานจริงของบริษัทไทย
          </li>
        </ul>
      </section>
      <!-- end applicant qualifications -->
  
      <!-- context -->
      <section class="container-fluid w-75 mx-auto my-5">
        <h1 class="font-24 color-font-purple fw-bold">สวัสดิการ</h1>
        <ul class="list-group-numbered font-24">
          <li>{{job.job_application}}</li>
          <li>ค่าเช่าบ้าน 50 บาท/วัน</li>
          <li>ค่าอาหาร 40 บาท/วัน</li>
          <li>ค่ากะดึก 70 บาท</li>
        </ul>
        <h1 class="font-24 color-font-purple fw-bold">วิธีการสมัคร</h1>
        <ul class="list-unstyled font-24">
          <li>{{job.property_job}}</li>
          
        </ul>
        <h1 class="font-24 color-font-purple fw-bold">ติดต่อเจ้าหน้าที่สรรหา</h1>
        <ul class="list-unstyled font-24">
          <li>addess</li>
          <li>Email: <span class="color-font-purple">prinxchengshan_111@trustmail.jobthai.com </span>(อีเมลนี้ใช้สำหรับการติดต่อและสมัครงาน)</li>
          <li>เว็บไซต์ : <span class="color-font-purple">http://en.prinxchengshan.com</span> </li>
        </ul>
        <h1 class="font-24 color-font-purple fw-bold">สถานที่ปฏิบัติงาน</h1>
        <ul class="list-unstyled font-24">
          <li>{{job.location}}</li>
        </ul>
      </section>
      <!-- end context -->
  
    
      
      <!-- apply for work  -->
      <section class="container-fluid  bg-green-80">
        <div class="row w-75 mx-auto">
          <div class="col-12 my-3">
            <h1 class="font-24 fw-bold">เลือกวิธีการสมัครงาน</h1>
            <div id="T">
              <div class="modal fade " id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered ">
                  <div class="modal-content ">
                    <div class="modal-body text-center">
                      <p class=" font-32">คุณต้องการสมัครงานนี้ใช่หรือไม่</p>
                      <div class="d-flex  justify-content-evenly">
                        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal" aria-label="Close">ยกเลิก</button>
                        <a name="" id="" class="btn bg-purple-10 text-white" href="afw.html" role="button">ตกลง</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn bg-purple-10 w-25 mx-5 my-3 btn-lg text-white" data-bs-toggle="modal" href="#exampleModalToggle" role="button">สมัครงานด่วน </a>
              <span class="font-24">สมัครด้วยประวัติที่ฝากกับ KDU</span>
            </div>
            <div>
              <a name="" id="" class="btn bg-purple-10 w-25 mx-5 my-3 btn-lg text-white"  href="filehistory.html" role="button">ส่งประวัติ </a>
              <span class="font-24">สมัครด้วยการส่งไฟล์เรซูเม่ ผลงาน หรืออื่นๆ</span>
            </div>
            <div>
              <a name="" id="" class="btn bg-purple-10 w-25 mx-5 my-3 btn-lg text-white" href="personal.html" role="button">กรอกประวัติ </a>
              <span class="font-24">สมัครงานง่ายๆ ด้วย Easy Form</span>
            </div>
          </div>
        </div>
      </section>
      <!-- end apply for work  -->
      {% include 'components/footer.html' %}
{% endblock %}