{% extends 'base.html'%}

{% block body %}
     <!-- footer -->
  <footer class="text-center">
    <p class="my-3 font-18">
      สงวนลิขสิทธิ์ © 2565 บริษัท เคดียู จำกัด |
      <a href="pages/404.html" class="underline"
        >เงื่อนไขข้อตกลงการใช้บริการ</a
      >
      | <a href="pages/404.html" class="underline">นโยบายความเป็นส่วนตัว</a> |
      <a href="" class="underline">นโยบายคุกกี้</a> |
      <a href="pages/404.html" class="underline">ข้อจำกัดความรับผิด</a>
    </p>
  </footer>
  <!-- end footer -->
{% endblock  %}
 